#main-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.pointer { 
  cursor: pointer;
}

.table-container{
  background-color: white;
  width: 1000px;
  margin: auto;
}

.table-header{
  background-color: #aee8e8;
  font-size: 1em;
  font-style: normal;
}

/*****************************
flex-box configs
*****************************/
.flex-row-sb {
  display: flex;
  justify-content: space-between;
}


/*****************************
  NAV
*****************************/
.rev-logo {
  width: auto;
  height: 2em;
  margin-right: 2em;
}

.margin-nav {
  margin-right: 2em
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .75rem !important;
  padding-left: .75rem !important;
}

.bg-light {
  background-color: #ffffff !important;
}

nav {
  border-bottom: 1px solid #ffffff !important;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
}

#examples-dropdown {
  cursor: pointer;
}